area[title]:hover:after {
    position: absolute;
    z-index: 2;
}
area.recipeUSA[title]:hover:after {
    content: url(photos/best-ever-waffles-Icon.jpg);
    top: 107px;
    left: 91px;
}
area.recipeUK[title]:hover:after {
    content: url(photos/britishbreakfast-Icon.jpg);
    top: 82px;
    left: 300px;
}
area.recipeRussia[title]:hover:after {
    content: url(photos/kasha-yagody-frukty-zavtrak-Icon.jpg);
    top: 75px;
    left: 430px;
}
area.recipeJapan[title]:hover:after {
    content: url(photos/traditional-japanese-breakfast-Icon.jpg);
    top: 133px;
    left: 560px;
}
area.recipeUK[title]:hover:after {
    content: url(photos/britishbreakfast-Icon.jpg);
    top: 82px;
    left: 300px;
}
area.recipeEgypt[title]:hover:after {
    content: url(photos/medames-Icon.jpg);
    top: 145px;
    left: 346px;
}
area.recipeIndia[title]:hover:after {
    content: url(photos/misalpav-Icon.jpg);
    top: 160px;
    left: 470px;
}



