#waffleContainer {
    background-color: rgba(255, 68, 0, 0.473);
    height: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
#waffleBackground {
    background-image: url(photos/waffles-food-fruit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 200px;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#waffleBackground h1 {
    text-decoration: underline overline ;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.514);
    margin-top: 40px;
}
#aboutThreeOfUs {
    color:white;
    /*border: 2px solid rgba(0, 0, 0, 0.514);*/
    background-color: rgba(255, 68, 0, 0.473);
    font-size: 2.6em;
    text-align: left;
    text-shadow: 1px 1px black;
    padding-left: 5px;
  }
  
#threeNames {
    /*border: 2px solid rgba(0, 0, 0, 0.514);*/
    background-color: rgba(255, 68, 0, 0.473);
    font-size: 2.6em;
    text-align: right;
    text-shadow: 1px 1px black;
    padding-right: 5px;
  }
h2 {
    margin: 0;
}
#aboutUsPicText {
    display: flex;
    margin-bottom: 80px;
}
#aboutUsPicText img {
    margin-right: 20px;
} 
