#container {
    background-image:url("photos/main_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
header {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 0;
}
header input {
    width: 200px;
    border: none;
    outline: none;
}
#searchBar {
    width: 250px;
    height: 25px;
    color: black;
    font-size: 1rem;
    background-color: white;
    margin: 10px;
}
#searchBar a {
    color: black;
}
#breakfastRamble h1 {
    font-size: 3.5rem;
}
#centreContent {
    display: flex;
    justify-content: space-between;
}
/* #centreContent ul {
    list-style-type: none;
} */

#centreContent li {
    background-color: white;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mapNav {
   margin: 2rem 0 0 auto;
} 
#centreContent a {
    color: black;
}
#centreContent li :hover {
    color: orangered;
}
div#smallScreenNavbar {
    background-image: url(photos/mapColor.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 1rem auto;
    width: 100%;
    height: 100%;
    display: flex;
}
div#smallScreenNavbar li {
    border: 2px solid orangered;
    width: 120px;
    height: 120px;
    font-weight: 600;
    font-size: 1.5rem;
}
.alignSelfCenter {
    align-self: center;
}

/* MAP styles - START*/

div#mapNav {
    position: relative;
    width: 640px;
    height: 327px;    
}
map area[title]:hover:after {
    position: absolute;
    z-index: 2;
}
area.recipeUSA[title]:hover:after {
    content: url(photos/waffleIcon.jpg);
    top: 107px;
    left: 91px;
}
area.recipeUK[title]:hover:after {
    content: url(photos/britishbreakfast-Icon.jpg);
    top: 82px;
    left: 300px;
}
area.recipeRussia[title]:hover:after {
    content: url(photos/kasha-yagody-frukty-zavtrak-Icon.jpg);
    top: 75px;
    left: 430px;
}
area.recipeJapan[title]:hover:after {
    content: url(photos/traditional-japanese-breakfast-Icon.jpg);
    top: 133px;
    left: 450px;
}
area.recipeUK[title]:hover:after {
    content: url(photos/britishbreakfast-Icon.jpg);
    top: 82px;
    left: 300px;
}
area.recipeEgypt[title]:hover:after {
    content: url(photos/medames-Icon.jpg);
    top: 145px;
    left: 346px;
}
area.recipeIndia[title]:hover:after {
    content: url(photos/misalpav-Icon.jpg);
    top: 160px;
    left: 470px;
}

/* MAP styles -END */
p.whereWillText {
    text-align: center;
    color: rgb(252, 127, 81);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0;
    margin: 0;
}
@media only screen and (max-width: 600px) {
    #container {
        background-image: none;
        background-color: #dce7eb;
    }
    header {
        width: 95%;
    }
    div#centreContent nav {
        background-color:  rgba(255, 68, 0, 0.473);
    }
    div#centreContent ul {
        display: flex;
        flex-direction: row;
        width: 95%;
        justify-content: space-between;
    }
    #mapNav img {
        display: none;
    }
    #mapNav map {
        display: none;
    }
}
@media only screen and (min-width: 599px) {
    div#smallScreenNavbar {
        display: none;
    }
}
