#kitchenContainer {
    background-color: rgba(255, 68, 0, 0.473);
    height: 300px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#kitchenPhoto {
    background-image: url(photos/kitchenbetter.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 300px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#shopTitle {
    color:white;
    /*border: 2px solid rgba(0, 0, 0, 0.514);*/
    background-color: rgba(180, 50, 3, 0.473);
    font-size: 2.6em;
    text-align: left;
    text-shadow: 1px 1px black;
    padding-left: 5px;
}
#withUsTitle {
    color:white;
    /*border: 2px solid rgba(0, 0, 0, 0.514);*/
    background-color: rgba(180, 50, 3, 0.473);
    font-size: 2.6em;
    text-align: right;
    text-shadow: 1px 1px black;
    padding-right: 5px;
}
h2 {
    margin: 0;
}
.shoppingItems {
    display: flex;
    justify-content: space-evenly;
    margin: 80px 0;
}
.shoppingItems img {
    box-shadow: 2px 1px rgba(0, 0, 0, 0.295);
    margin-top: 10px;
}
.itemDescription {
    font-size: 0.6rem;
}
.itemsPrices {
    text-align: center;
}
.buyNow {
    border: none;
    color: white;
    background-color: rgb(248, 156, 123);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px rgb(131, 130, 130);
}